/* ************************ */
/* **** Section - home **** */
/* ************************ */
.section-home {
  height: 100vh;
  position: relative;
  background-image: url('./assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-information {
  width: 56%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 36px;
}

.home-opening {
  color: var(--color-light);
  font-size: 36px;
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  letter-spacing: 4.25px;
}

.home-title {
  font-size: 140px;
  font-weight: 400;
  font-family: var(--ff-serif);
  text-transform: uppercase;
  letter-spacing: 4.25px;
}

.home-desc {
  color: var(--color-light);
  font-size: 18px;
  font-family: var(--ff-sans-normal);
  letter-spacing: 1.25px;
  line-height: 1.7;
}

.btn-explore {
  width: 275px;
  height: 275px;
  justify-self: center;
  align-self: end;

  color: var(--color-dark);
  font-family: var(--ff-serif);
  font-size: 36px;
  text-transform: uppercase;
  border-radius: 50%;
  background-color: var(--color-white);
}
/* ************************ */
/*





*/
/* ******************************* */
/* **** Section - destination **** */
/* ******************************* */
.section-destination {
  height: 100vh;
  position: relative;
  background-image: url('./assets/destination/background-destination-desktop.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* ******************************* */
